//
// T4 Components
// ---------------------------------------------
@each $color, $value in $theme-colors {
  .bg-#{$color} {
    background-color: var(--color-#{$color})!important;
  }
}

//
// Banners
.t4-banner {
  text-align: center;
  background: $gray-100;
}

// T4 Height Define
@each $t4-nav-height-size, $value in $t4-nav-height-size {
	.t4-nav-height-#{$t4-nav-height-size} {
		.t4-megamenu {
			.navbar-nav > li > a,
			.navbar-nav > li > .nav-link {
				height: $value;
	      line-height: $value - ($t4-nav-link-padding-y * 2);
	    }
		}
	}
}

// Align Main Menu
.nav-align-left {
  .t4-megamenu .navbar-nav > li {
    > a,
    > span {
      padding-left: 0;
      padding-right: 0;
      margin-right: $t4-nav-link-padding-x * 2;
    }
  }

  // Menu Toggle
  .navbar-toggler,
  .t4-offcanvas-toggle {
    margin-right: $spacer;
  }
}

// Owl
// --------------------------
.owl-carousel {
  .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $grid-gutter-width;

    // Mobile view
    @include media-breakpoint-down(md) {
      margin-top: $grid-gutter-width / 2;
    }

    .owl-dot {
      background: $gray-200;
      border-radius: 50%;
      display: inline-block;
      margin: 3px 6px;
      height: 8px;
      width: 8px;

      &.active {
        background: var(--color-secondary);
      }
    }
  }
}


//
// Bootstraps Components
// ---------------------------------------------
.container {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.v-gutters {
	margin-bottom: -$grid-gutter-width / 2;
	margin-top: -$grid-gutter-width / 2;

  // Mobile view
  @include media-breakpoint-down(sm) {
    margin-bottom: -$grid-gutter-width / 4;
    margin-top: -$grid-gutter-width / 4;
  }

	> div {
		padding-top: $grid-gutter-width / 2;
		padding-bottom: $grid-gutter-width / 2;

    // Mobile view
    @include media-breakpoint-down(sm) {
      padding-top: $grid-gutter-width / 4;
      padding-bottom: $grid-gutter-width / 4;
    }
	}
}

.large-gutters {
  @include media-breakpoint-up(xxl) {
    --t4-gutter-x: 72px;
  }
}

.modal-backdrop {
  &.show {
    visibility: visible;
  }
}

// Button on Header
.navbar-nav {
	// Button Color
	.btn-primary {
		color: $white!important;
	}

	// Button Normal
	.btn {
		padding: $btn-padding-y $btn-padding-x!important;
	}

	// Button SM
	.btn-sm {
		padding: $btn-padding-y-sm $btn-padding-x-sm!important;
	}

	// Button SM
	.btn-lg {
		padding: $btn-padding-y-lg $btn-padding-x-lg!important;
	}
}

// Class for collapse Menu
.collapse-flex {
  display: none;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  .nav-breakpoint {
    &#{"-"}#{$breakpoint} {
      @include media-breakpoint-down($breakpoint) {
        .collapse-flex {
        	display: flex;
        }

        .collapse-space-between {
        	justify-content: space-between!important;
        }

        .collapse-border-0 {
        	border: 0!important;
        }
      }
    }
  }
}