<!-- FOOTER BLOCK -->
<div class="row g-0">
  <div class="col-12 col-lg-5 order-2 order-lg-1 footer-left">
    <div class="footer-inner px-0">
      <div class="footsub">
        <jdoc:include type="modules" name="footsub" style="JAXhtml" />
      </div>

      <div class="footsocial">
        <jdoc:include type="modules" name="footsocial" style="JAXhtml" />
      </div>

      <div class="copyright">
        <jdoc:include type="modules" name="copyright" style="raw" />
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-7 order-1 order-lg-2 footer-right">
    <div class="footer-inner pe-0">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 v-gutters">
        <div class="col">
          <jdoc:include type="modules" name="footnav-1" style="JAXhtml" />
        </div>

        <div class="col">
          <jdoc:include type="modules" name="footnav-2" style="JAXhtml" />
        </div>

        <div class="col">
          <jdoc:include type="modules" name="footnav-3" style="JAXhtml" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // FOOTER BLOCK -->  